
<p class="titulo-tabla">Ultima venta</p>
<table class="ultima-venta">
  <tbody>
    <tr>
         <td class="ultima-venta">Número de venta: <%= @last_sale.id if @last_sale != nil %></td>
         <td class="ultima-venta">Artículos vendidos: <%= @last_sale.inventory_items.count if @last_sale != nil %></td>
    </tr>
    <tr>
      <td class="ultima-venta">Importe: $<%= @last_sale.amount if @last_sale != nil %></td>
      <% if @last_sale == nil %>
        <td class="ultima-venta">Estado: No disponible</td>
      <% elsif @sale_session %>
        <td class="ultima-venta">Estado: Pendiente</td>
      <% else %>
        <td class="ultima-venta">Estado: Finalizada</td>
      <% end %>
     </tr>
  </tbody>
</table>
