<h1>New Product</h1>

<div id="partial">
</div>

<%#= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

<script>
  Rails.$('.partial').innerHTML = ("<%= j (render 'form', product: @product) %>")
</script>
